body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  text-align: center;
  margin-left: 300px;
}

input[type="submit"] {
  padding: 10px;
  border-radius: 2%;
}

table,
tr,
th,
td {
  border: 2px solid black;
}
